/* Test */
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* Basic types */
body {
/* Base */
--dw-base-font-size: 16px;
--dw-type-scale: 1.333;
/* Paragraphs */
--dw-font-family: Inter;
--dw-font-weight: 500;
--dw-letter-spacing: 0;
--dw-line-height: 1.5;
--dw-text-transform: none;
}
/* Headings */
h1, h2, h3, h4, h5, h6, .dw-h1, .dw-h2, .dw-h3, .dw-h4, .dw-h5, .dw-h6 {
--dw-font-family: Inter;
--dw-font-weight: 600;
--dw-letter-spacing: -0.02;
--dw-line-height: 1;
--dw-text-transform: none;
}
/* Buttons */
[data-dw-button] {
--dw-font-family: Inter;
--dw-font-weight: 600;
--dw-letter-spacing: 0;
--dw-line-height: 1;
--dw-text-transform: none;
}
